<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cedemed.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <connectionStrings>
        <add name="Cedemed.My.MySettings.CedemedConnectionString" connectionString="Persist Security Info=True;Data Source=25.15.187.174\SANVICENTE;Initial Catalog=San Vicente;Integrated Security=false;User ID=sa;Password=roots;"
            providerName="System.Data.SqlClient" />
        <add name="Cedemed.My.MySettings.MainBranch" connectionString="Persist Security Info=True;Data Source=25.4.234.218\MAIN;Initial Catalog=POSData;Integrated Security=false;User ID=sa;Password=roots"
            providerName="System.Data.SqlClient" />
        <add name="Cedemed.My.MySettings.Branch1" connectionString="Persist Security Info=True;Data Source=25.19.150.62\TANEDO;Initial Catalog=Tanedo;Integrated Security=false;User ID=sa;Password=roots"
            providerName="System.Data.SqlClient" />
        <add name="Cedemed.My.MySettings.Branch2" connectionString="Persist Security Info=True;Data Source=25.15.187.174\SANVICENTE;Initial Catalog=San Vicente;Integrated Security=false;User ID=sa;Password=roots"
            providerName="System.Data.SqlClient" />
        <add name="Cedemed.My.MySettings.Branch3" connectionString="Persist Security Info=True;Data Source=25.60.159.84\LaUnion;Initial Catalog=POSData;Integrated Security=false;User ID=admin;Password=decipher"
            providerName="System.Data.SqlClient" />
        <add name="Cedemed.My.MySettings.Branch4" connectionString="Persist Security Info=True;Data Source=25.14.186.246\Baguio;Initial Catalog=POSData;Integrated Security=False; User ID=admin; Password=decipher"
            providerName="System.Data.SqlClient" />
        <add name="Cedemed.My.MySettings.Branch5" connectionString="Persist Security Info=True;Data Source=25.14.140.209\Pampanga;Initial Catalog=POSData;Integrated Security=False; User ID=admin; Password=decipher"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <Cedemed.My.MySettings>
            <setting name="BranchSelect" serializeAs="String">
                <value>True</value>
            </setting>
        </Cedemed.My.MySettings>
    </applicationSettings>
</configuration>
